@media  all and (min-width: 1200px) {
    .menu-ul {
        min-height: 87.5vh !important;
        line-height: 87.5vh !important;
        width: 30vw;
    }

    .menu-li {
        font-size: 2.2em;
    }
    .countdown-wrapper {
        float: right;
        max-height: 100vh;
        padding-top: 57vh;
        padding-right: 4vw;
    }
    .counter-table {
        float: right;
    }
    #countdown {
        margin: 0;
        font-size: 11em;
        font-weight: 100;
        text-align: center;

    }
    .countdown-letter td {
        font-size: 2.8em;
        text-align: center;
    }
}
@media  all and (min-width: 1367px) and (max-width: 1400px){
    #countdown {
        font-size: 7em;
    }
}
