/* bootstrap overrides */
.nav-wrap {
    position: fixed;
    z-index: 9999;
    -moz-perspective: 500vw; /* Chrome, Safari, Opera */
    -o-perspective: 50vw; /* Chrome, Safari, Opera */
    -webkit-perspective: 50vw; /* Chrome, Safari, Opera */
    perspective: 100vw;
}
.navbar {
    position: absolute;
    z-index: 9999;
    margin: 20px 10px;
    background: none;
    border: none;
}
.navbar-toggle {
    position: fixed;
    float: right;
    background: none;
    padding: 9px 10px;
    margin: 0;
    border: none;
    border-radius: 0;
}
.navbar-toggle .icon-bar {
    display: block;
    width: 45px;
    height: 5px;
    border-radius: 0;
}
.navbar-collapse {
    position: fixed;
    background-color: rgba(255, 255, 255, 0.90);
    transform-origin: left bottom;
    -moz-perspective: 50vw; /* Chrome, Safari, Opera */
    -o-perspective: 50vw; /* Chrome, Safari, Opera */
    -webkit-perspective: 50vw; /* Chrome, Safari, Opera */
    perspective: 50vw;
    -moz-transform: rotateY(90deg);
    -o-transform: rotateY(90deg);
    -webkit-transform: rotateY(90deg); /* Safari */
    transform: rotateY(90deg);


    -moz-transition: all 400ms ease;
    -o-transition: all 400ms ease;
    -webkit-transition: all 400ms ease;
    transition: all 400ms ease;
}

.rotate-y-anim {

    -moz-transition: all 400ms ease;
    -o-transition: all 400ms ease;
    -webkit-transition: all 400ms ease;
    transition: all 800ms ease;

    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
}
.menu-ul {
    min-height: 87.5vh !important;
    line-height: 87.5vh !important;
    width: 25vw;
    display: flex !important;
    flex-direction: column;
    justify-content: space-around;
    z-index: 9999;
}

.menu-li {
    flex: 1 auto;
    font-weight: bold;
    font-size: 22px;
}
.menu-li > a:hover {
    color: #E91E63!important;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #000;
}
