/*
 *       Font ROBOTO:
 * font-family: 'Roboto', sans-serif;
 * font-weight: 100,300,400,500,700,900
 *
 */
/*
	hexadecimal and RGB colors codes:

	- WCS yellow -
	#FBA858
	rgba(251, 168, 88, 1)


	- Toulouse Pink -
	#E91E63
	rgba(233, 30, 99, 1)
*/

*, *:after, *:before {
    box-sizing: border-box;
}

body {
    font-family: Roboto, sans-serif;
    color: #262626;
}
/*
    Definition classes
*/

/* HOME */

h1, h2 {
    font-family: Roboto, sans-serif;
}

h1 {
    font-weight: 700;
}
h2 {
    font-weight: 100;
}

.no-padding {
    padding: 0!important;
}

.shadow-it {
    -webkit-box-shadow: 5px 5px 3px 0px rgba(0,0,0,0.53);
    -moz-box-shadow: 5px 5px 3px 0px rgba(0,0,0,0.53);
    box-shadow: 5px 5px 3px 0px rgba(0,0,0,0.53);
    /*-webkit-box-shadow: 5px 5px 2px 0px rgba(0,0,0,0.78);*/
    /*-moz-box-shadow: 5px 5px 2px 0px rgba(0,0,0,0.78);*/
    /*box-shadow: 5px 5px 2px 0px rgba(0,0,0,0.78);*/
}

.home-viewport {
    background-image: url("../img/bg_home.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-attachment: fixed;
/*    padding: 0 1%; */
}

.title-wrapper {
    display: inline-block;
    position: relative;
    background-image: url("../img/home_txt_wrapp.svg");
    background-size: contain;
    background-repeat: no-repeat;
}
.home-title {
    display: block;
    margin: 19% 0 0 7%;
    font-weight: 400;
    font-size: 5.1em;
    width: 100%;
    letter-spacing: -3px;
    color: #000;
}
.home-sub-title {
    display: block;
    margin: -6px 0 0 15%;
    font-size: 6.4em;
    width: 100%;
    letter-spacing: 0px;
    color: #000000;
}
.home-logo-toulouse {
    max-width: 54%;
    margin: 10px 23%;
}
.home-logo-wcs {
    position: absolute;
    bottom: 0;
    max-width: 28%;
    margin: 0 36%;
}

.countdown-num {
    opacity: 0;
}

.countdown-global {
    color: #ffffff;
    text-align: justify;
    text-shadow: 1px 1px 1px #E91E63;
    -webkit-transform: scale(1,1.6);
    -moz-transform: scale(1,1.6);
    -ms-transform: scale(1,1.6);
    -o-transform: scale(1,1.6);
    transform: scale(1,1.6);
}

td {
    padding: 8px;
}

.arrow-down {
    display: block;
    margin: 0 auto;
    font-size: 3.5em;
    text-align: center;
    opacity: 0.5;
    color: #ffffff;
}
.arrow-down:hover {
    cursor: pointer;
    opacity: 1;
}
/* bootstrap overrides */
.nav-wrap {
    position: fixed;
    z-index: 9999;
    -moz-perspective: 500vw; /* Chrome, Safari, Opera */
    -o-perspective: 50vw; /* Chrome, Safari, Opera */
    -webkit-perspective: 50vw; /* Chrome, Safari, Opera */
    perspective: 100vw;
}
.navbar {
    position: absolute;
    z-index: 9999;
    margin: 20px 10px;
    background: none;
    border: none;
}
.navbar-toggle {
    position: fixed;
    float: right;
    background: none;
    padding: 9px 10px;
    margin: 0;
    border: none;
    border-radius: 0;
}
.navbar-toggle .icon-bar {
    display: block;
    width: 45px;
    height: 5px;
    border-radius: 0;
}
.navbar-collapse {
    opacity: 0;
    position: fixed;
    background-color: rgba(255, 255, 255, 0.90);
    transform-origin: left bottom;
    -moz-perspective: 50vw; /* Chrome, Safari, Opera */
    -o-perspective: 50vw; /* Chrome, Safari, Opera */
    -webkit-perspective: 50vw; /* Chrome, Safari, Opera */
    perspective: 50vw;
    -moz-transform: rotateY(90deg);
    -o-transform: rotateY(90deg);
    -webkit-transform: rotateY(90deg); /* Safari */
    transform: rotateY(90deg);


    -moz-transition: all 400ms ease;
    -o-transition: all 400ms ease;
    -webkit-transition: all 400ms ease;
    transition: all 400ms ease;
}

.rotate-y-anim {
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    opacity: 1;
}
.rotate-y-anim-back {
    -moz-transform: rotateY(90deg);
    -o-transform: rotateY(90deg);
    -webkit-transform: rotateY(90deg);
    transform: rotateY(90deg);

}
.menu-ul {
    display: flex !important;
    flex-direction: column;
    justify-content: space-around;
    z-index: 9999;
}

.menu-li {
    flex: 1 auto;
    font-weight: bold;
}
.menu-li > a:hover {
    color: #E91E63!important;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #000;
}
.close-menu {
    width: 30px;
    height: 30px;
    float: right;
    margin: 8px -5px 0 0;
    opacity: 0.7;
}
.close-menu:hover {
    opacity: 1;
    cursor: pointer;
}


@media screen and (min-width: 480px) and (max-width: 767px) {
    .home-title {
        margin: 14% 0 0 4%;
        font-weight: 400;
        font-size: 3.7em;
        width: 100%;
        letter-spacing: -3px;
        color: #000;
    }
    .home-sub-title {
        margin-left: 11%;
        font-size: 5.0em;
        width: 100%;
        letter-spacing: 0px;
        color: #080808;
    }
}
@media (min-width: 480px) {
    .navbar-header {
        float: none;
    }

    .navbar-left, .navbar-right {
        float: none !important;
    }

    .navbar-toggle {
        display: block;
    }

    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    }

    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }

    .navbar-collapse.collapse {
        /*display: none !important;*/
    }

    .navbar-nav {
        float: none !important;
        margin-top: 7.5vh;
    }

    .navbar-nav > li {
        float: none;
    }

    .navbar-nav > li > a {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .collapse.in {
        display: block !important;
    }

}

/* FIN HOME */


/*
    ######################################################################################
*/
/* PAGE 2 - ENJEUX OPEN DATA */

.page-2-content {
    background-image: url("../img/bg_pages.png");
    height: 100vh;
    background-attachment: fixed;
    background-position: 0% -110%;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 0 1%;
}

.page-2 h1 {
    display: block;
    width: 80%;
    margin: 1em auto;
    font-weight: 300;
    font-size: 3.5em;
    padding: 0;
    text-align: center;
    line-height: 0em;
    border-bottom: 1px solid #E91E63;
}
.page-2 h1 span {
    padding: 0 38px;
    background-color: #fff;
}

.page-2 > h1 > i {
    font-weight: bold;
}

.page-2 h2 {
    font-weight: 300;
	line-height: 1.6em;
	padding: 0 1%;
    /*background-color: rgba(190, 190, 190, 0.5);*/
	text-align: center;
	/*border-radius: 15px;*/
    /*border: 1px solid #E91E63;*/
}
.taller {
    font-size: 1.4em;
}

.flexit {
    flex: 0 1 auto;
}
.text-block {
    display: inline-flex;
    flex-direction: column;
    justify-content: space-around;
    font-weight: 200;
    /*display: inline-block;*/
    padding: 30px 69px;
    /*border: 2px solid #FBA858;*/
    background-color: rgba(255, 255, 255, 1);
}
.open-data-link {
    width: 100%;
}
.open-data-link:hover {
    border: 1px solid #E91E63;
    box-shadow: 2px 1px 6px #262626;
}
.top-left {
    margin: 8px 1% 8px 0;
    /*border-radius: 15px 0 0 15px;*/
}
.top-right {
    margin: 8px 0 8px 1%;
    /*border-radius: 0 15px 15px 0;*/
}
.bottom-left {
    margin: 8px 1% 8px 0;
    /*border-radius: 0 0 15px 0;*/
}
.bottom-right {
    margin: 8px 0 8px 1%;
    /*border-radius: 0 0 0 15px;*/
}

.page-2 p {
	color: #000000;
    font-size: 1.6em;
    font-weight: 200;
	text-align: justify;
	/*transform: translate(0%, 2%);*/
}
.center-it-vertical {
    position: relative;
}

.page-2-ul {
    /*color: #fba858;*/
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.43);
    font-size: 1.5em;
    font-weight: 300;
    line-height: 1.7em;
    list-style: square;
    margin: 24px 30px;
}
/*
.logo-container {
    position: relative;
    height: 250px;
	text-align: justify;
	font-size: 2em;
	background-color: rgba(190, 190, 190, 0.8);
    margin-right: 5%;
    margin-bottom: 15%;
    height: 150%;
	border-radius: 15px 15px 5px 5px;
    border: 2px solid #FBA858;
	padding-bottom: 10%;
}

.p2-logo-opendata {
	position: absolute;
	width: 50%;
	border: 2px solid #E91E63;
	border-radius: 7px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -20%);
}
*/

/* FIN PAGE OPEN DATA */


/* PAGE PROGRAMME */

/* FIN PAGE PROGRAMME */


/* PAGE ORGANISATEURS */

.page-4-content {
    background-image: url("../img/bg_pages.png");
    height: 100vh;
    background-attachment: fixed;
    background-position: 0% -110%;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 0 1%;
}

.page-4 h1 {
    display: block;
    width: 80%;
    margin: 1em auto;
    font-weight: 300;
    font-size: 3.5em;
    padding: 0;
    text-align: center;
    line-height: 0em;
    border-bottom: 1px solid #E91E63;
}
.page-4 h1 span {
    padding: 0 38px;
    background-color: #fff;
}

.page-4 > h1 > i {
    font-weight: bold;
}

.page-4 h2 {
    font-weight: 300;
    line-height: 1.6em;
    padding: 0 1%;
    /*background-color: rgba(190, 190, 190, 0.5);*/
    text-align: center;
    /*border-radius: 15px;*/
    /*border: 1px solid #E91E63;*/
}
.taller {
    font-size: 1.4em;
}

.flexit {
    flex: 0 1 auto;
}
.text-block {
    display: inline-flex;
    flex-direction: column;
    justify-content: space-around;
    font-weight: 200;
    /*display: inline-block;*/
    padding: 30px 69px;
    /*border: 2px solid #FBA858;*/
    background-color: rgba(255, 255, 255, 1);
}
.open-data-link {
    width: 100%;
}
.open-data-link:hover {
    border: 1px solid #E91E63;
    box-shadow: 2px 1px 6px #262626;
}
.top-left {
    margin: 8px 1% 8px 0;
    /*border-radius: 15px 0 0 15px;*/
}
.top-right {
    margin: 8px 0 8px 1%;
    /*border-radius: 0 15px 15px 0;*/
}
.bottom-left {
    margin: 8px 1% 8px 0;
    /*border-radius: 0 0 15px 0;*/
}
.bottom-right {
    margin: 8px 0 8px 1%;
    /*border-radius: 0 0 0 15px;*/
}

.page-4 p {
    color: #000000;
    font-size: 1.6em;
    font-weight: 200;
    text-align: justify;
    /*transform: translate(0%, 2%);*/
}
.center-it-vertical {
    position: relative;
}

.page-2-ul {
    /*color: #fba858;*/
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.43);
    font-size: 1.5em;
    font-weight: 300;
    line-height: 1.7em;
    list-style: square;
    margin: 24px 30px;
}

/* FIN PAGE ORGANISATEURS */


/* PAGE PARTENAIRES */

/* FIN PAGE PARTENAIRES */



/* PAGE ESPACE PRESSE */

/* FIN PAGE ESPACE PRESSE */

@media all and (max-width: 991px) {
    .top-left {
        border-radius: 8px;
    }
    .top-right {
        border-radius: 8px;
    }
    .bottom-left {
        border-radius: 8px;
    }
    .bottom-right {
        border-radius: 8px;
    }
}